Repository ShilaTu/esp32-core, pull requests merged in 2019-12, with the labels that each got.

#16 git:feature added refactor action and help text to commit msg template
  .gitcommitmsg
Labels: enhancement, infrastructure

#14 makefile:fix stop trying to guess docker state, just rebuild every time
  docker/Makefile
Labels: bug, docker, infrastructure

#17 docker: platformio remove install of framework from dockerfile
  docker/platformio/Dockerfile
Labels: docker, infrastructure, pio

#18 makefile:feature overhauled DEV mechanics
  Makefile
Labels: infrastructure, make

#19 makefile:check if dialog is installed
  Makefile
Labels: make

#20 makefile:refactor if statements refactored
  Makefile
Labels: infrastructure, make

#25 makefile:feature set git pull mode to rebase
  Makefile
Labels: infrastructure

#29 makefile:feature add platformio environment selection
  Makefile
Labels: infrastructure, make, pio
